<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mehta Laser Cutter</title>
  <meta name="author" content="Gaurav Viramgami | Kritika Kumawat">
  <meta name="description" value="Tinkerers' Lab is a platform for students to experience innovation and prepare themselves for the future through self-learning.">
  <link rel="icon" href="\images\TL_logo.png">

  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/form.css">

  <!--Fonts-->
  <!-- <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/59300bf5d4.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Nav Bar -->
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
      <a class="navbar-brand" href="#">
        <img src="\images\TL_logo.png" width="30" height="30" class="d-inline-block align-top" alt="" style="margin-right:2px;">
        Tinkerers' Lab
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/booking">Booking Portal <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/inventory">Inventory</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/about">About Us</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>

  <!-- Top Container -->
  <div class="small-space"></div>
  <svg class="wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#2D2F61" fill-opacity="0.9"
      d="M0,64L10.9,69.3C21.8,75,44,85,65,112C87.3,139,109,181,131,208C152.7,235,175,245,196,213.3C218.2,181,240,107,262,80C283.6,53,305,75,327,85.3C349.1,96,371,96,393,90.7C414.5,85,436,75,458,74.7C480,75,502,85,524,80C545.5,75,567,53,589,58.7C610.9,64,633,96,655,117.3C676.4,139,698,149,720,133.3C741.8,117,764,75,785,80C807.3,85,829,139,851,165.3C872.7,192,895,192,916,186.7C938.2,181,960,171,982,138.7C1003.6,107,1025,53,1047,48C1069.1,43,1091,85,1113,106.7C1134.5,128,1156,128,1178,128C1200,128,1222,128,1244,133.3C1265.5,139,1287,149,1309,144C1330.9,139,1353,117,1375,112C1396.4,107,1418,117,1429,122.7L1440,128L1440,0L1429.1,0C1418.2,0,1396,0,1375,0C1352.7,0,1331,0,1309,0C1287.3,0,1265,0,1244,0C1221.8,0,1200,0,1178,0C1156.4,0,1135,0,1113,0C1090.9,0,1069,0,1047,0C1025.5,0,1004,0,982,0C960,0,938,0,916,0C894.5,0,873,0,851,0C829.1,0,807,0,785,0C763.6,0,742,0,720,0C698.2,0,676,0,655,0C632.7,0,611,0,589,0C567.3,0,545,0,524,0C501.8,0,480,0,458,0C436.4,0,415,0,393,0C370.9,0,349,0,327,0C305.5,0,284,0,262,0C240,0,218,0,196,0C174.5,0,153,0,131,0C109.1,0,87,0,65,0C43.6,0,22,0,11,0L0,0Z">
    </path>
  </svg>

  <div class="heading text-center shadow heading-otherpages-top">
    <!-- <div class="egg-shape-1 long-text-1">
      <div class="egg-shape-2 long-text-2"> -->
        Mehta Laser Cutter
      <!-- </div>
    </div> -->
  </div>

  <% if (!loggedIn) { %>
  <div class="sign-in text-center">
    <p class="sign-in-text">Please Sign In to continue</p>
    <br>
    <a class="btn btn-outline-light sign-in-btn" href="/google" role="button">Sign In with Google Account</a>
  </div>
  <% } else { %>
  <div class="sign-in text-center">
    <p class="sign-in-text">Before using the Laser Machine please read this user manual: <a class="manual-link" href="https://bit.ly/Laser_Cutter_User_Manual" target="blank_">Laser Cutter User Manual</a></p>
  </div>

  <div class="form shadow">

    <!-- Loading -->
    <div class="spinner white" id="loading">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>

    <!-- Contact -->
    <div class="contact-tl" id="contact-tl">
      <label>Since you have not used laser cutter or attented workshop earlier please contact one of the TL member or mail at <a href="mailto:tinkererslab@iitgn.ac.in">tinkererslab@iitgn.ac.in</a> about your work. We will arrange a member of the lab
        to help you.</label>
    </div>

    <!-- Part - 1 -->
    <div class="part-1" id="part-1">
      <div class="form-group"> <label for="purpose"> Purpose* </label> <select name="purpose" id="purpose" class="form-control" required>
          <option value="" disabled selected style="display: none">--Please select an option--</option>
          <option>Personal Project/ Team Project</option>
          <option>Course Work (Ex: ES 106 - Manufacturing and Work)</option>
          <option>Event Work (Ex: Amalthea, Blithchron)</option>
          <option>Other (Ex: CLI, IIEC Work)</option>
        </select> </div>
      <div class="text-center">
        <button type="button" class="btn btn-outline-light next-btn" onclick="next1()">Next &rarr;</button>
      </div>
    </div>

    <!-- Part - 2 -->

    <!-- Project -->
    <div class="part-2-project" id="part-2-project">
      <div class="form-row ">
        <div class="form-group col-md-6"> <label> Name* </label> <input name="name_project" id="name_project" type="text" class="form-control" placeholder="Name" required> </div>
        <div class="form-group col-md-6 "> <label for="email_project"> Email ID* (You are signed in as <%= email %>) </label>
          <div class="input-group "> <input type="email" name="email_project" id="email_project" class="form-control" placeholder="Email ID" required> </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6"> <label> Roll Number / Designation* </label> <input name="roll_no_project" id="roll_no_project" class="form-control" placeholder="Roll Number / Designation"> </div>
        <div class="form-group col-md-6"> <label> Contact Number* </label> <input type="text" name="contact_number_project" id="contact_number_project" class="form-control" placeholder="Contact Number" pattern="[0-9]{10}" required> </div>
      </div>

      <div class="form-group"> <label for="used_before_project"> Did you use the Laser Machine earlier for any work? * </label> <select name="used_before_project" id="used_before_project" class="form-control" required>
          <option value="" disabled selected style="display: none">--Please select an option--</option>
          <option>Yes</option>
          <option>No</option>
        </select> </div>
      <div class="form-group"> <label for="attended_workshop_project"> Have you attended any workshop conducted on the use of machines in TL?* </label> <select name="attended_workshop_project" id="attended_workshop_project" class="form-control"
          required>
          <option value="" disabled selected style="display: none">--Please select an option--</option>
          <option>Yes</option>
          <option>No</option>
        </select> </div>


      <div class="text-center">
        <button type="button" class="btn btn-outline-light next-btn" onclick="next2_project()">Next &rarr;</button>
      </div>
    </div>

    <!-- Course -->
    <div class="part-2-course" id="part-2-course">
      <div class="form-row ">
        <div class="form-group col-md-6"> <label> Name* </label> <input name="name_course" id="name_course" type="text" class="form-control" placeholder="Name" required> </div>
        <div class="form-group col-md-6 "> <label for="email_course"> Email ID* (You are signed in as <%= email %>) </label>
          <div class="input-group "> <input type="email" name="email_course" id="email_course" class="form-control" placeholder="Email ID" required> </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6"> <label> Designation* </label> <input name="designation_course" id="designation_course" class="form-control" placeholder="Designation"> </div>
        <div class="form-group col-md-6"> <label> Contact Number* </label> <input type="text" name="contact_number_course" id="contact_number_course" class="form-control" placeholder="Contact Number" pattern="[0-9]{10}" required> </div>
      </div>

      <label style="margin-bottom:2%; margin-top:2%;">Course Details:</label>

      <div class="form-row ">
        <div class="form-group col-md-6"> <label> Course Name* </label> <input name="course_name_course" id="course_name_course" type="text" class="form-control" placeholder="Course Name" required> </div>
        <div class="form-group col-md-6"> <label> Course Instructor* </label> <input name="course_instructor_course" id="course_instructor_course" type="text" class="form-control" placeholder="Course Instructor" required> </div>
      </div>

      <br>
      <div class="form-row">
        <div class="form-group col-md-6"><label for="start_date_course">Start Date</label>
          <input type="date" id="start_date_course" name="start_date_course" value="" min="" max="">
        </div>
        <div class="form-group col-md-6"><label for="end_date_course">End Date</label>
          <input type="date" id="end_date_course" name="end_date_course" value="" min="" max="">
        </div>
      </div>

      <br>
      <div class="form-row">
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <input type="checkbox" id="monday_course" name="monday_course">
          <label for="monday_course">  Monday</label>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="monday_start_time_course">Start Time</label>
          <input type="time" id="monday_start_time_course" name="monday_start_time_course" value="" min="" max="">
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="monday_end_time_course">End Time</label>
          <input type="time" id="monday_end_time_course" name="monday_end_time_course" value="" min="" max="">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <input type="checkbox" id="tuesday_course" name="tuesday_course">
          <label for="tuesday_course">  Tuesday</label>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="tuesday_start_time_course">Start Time</label>
          <input type="time" id="tuesday_start_time_course" name="tuesday_start_time_course" value="" min="" max="">
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="tuesday_end_time_course">End Time</label>
          <input type="time" id="tuesday_end_time_course" name="tuesday_end_time_course" value="" min="" max="">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <input type="checkbox" id="wednesday_course" name="wednesday_course">
          <label for="wednesday_course">  Wednesday</label>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="wednesday_start_time_course">Start Time</label>
          <input type="time" id="wednesday_start_time_course" name="wednesday_start_time_course" value="" min="" max="">
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="wednesday_end_time_course">End Time</label>
          <input type="time" id="wednesday_end_time_course" name="wednesday_end_time_course" value="" min="" max="">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <input type="checkbox" id="thursday_course" name="thursday_course">
          <label for="thursday_course">  Thursday</label>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="thursday_start_time_course">Start Time</label>
          <input type="time" id="thursday_start_time_course" name="thursday_start_time_course" value="" min="" max="">
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="thursday_end_time_course">End Time</label>
          <input type="time" id="thursday_end_time_course" name="thursday_end_time_course" value="" min="" max="">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <input type="checkbox" id="friday_course" name="friday_course">
          <label for="friday_course">  Friday</label>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="friday_start_time_course">Start Time</label>
          <input type="time" id="friday_start_time_course" name="friday_start_time_course" value="" min="" max="">
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="friday_end_time_course">End Time</label>
          <input type="time" id="friday_end_time_course" name="friday_end_time_course" value="" min="" max="">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <input type="checkbox" id="saturday_course" name="saturday_course">
          <label for="saturday_course">  Saturday</label>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="saturday_start_time_course">Start Time</label>
          <input type="time" id="saturday_start_time_course" name="saturday_start_time_course" value="" min="" max="">
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="saturday_end_time_course">End Time</label>
          <input type="time" id="saturday_end_time_course" name="saturday_end_time_course" value="" min="" max="">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <input type="checkbox" id="sunday_course" name="sunday_course">
          <label for="sunday_course">  Sunday</label>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="sunday_start_time_course">Start Time</label>
          <input type="time" id="sunday_start_time_course" name="sunday_start_time_course" value="" min="" max="">
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-4">
          <label for="sunday_end_time_course">End Time</label>
          <input type="time" id="sunday_end_time_course" name="sunday_end_time_course" value="" min="" max="">
        </div>
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-outline-light next-btn" onclick="submit_course()">Submit</button>
      </div>
    </div>

    <!-- Events -->
    <div class="part-2-event" id="part-2-event">
      <div class="form-group"> <label> Event Name* </label> <input name="event_name_event" id="event_name_event" type="text" class="form-control" placeholder="Ex: Amalthea, Blithchron" required> </div>

      <div class="form-row ">
        <div class="form-group col-md-6"> <label> Name* </label> <input name="name_event" id="name_event" type="text" class="form-control" placeholder="Name" required> </div>
        <div class="form-group col-md-6 "> <label for="email_event"> Email ID* (You are signed in as <%= email %>) </label>
          <div class="input-group "> <input type="email" name="email_event" id="email_event" class="form-control" placeholder="Email ID" required> </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6"> <label> Designation* </label> <input name="designation_event" id="designation_event" class="form-control" placeholder="Designation"> </div>
        <div class="form-group col-md-6"> <label> Contact Number* </label> <input type="text" name="contact_number_event" id="contact_number_event" class="form-control" placeholder="Contact Number" pattern="[0-9]{10}" required> </div>
      </div>

      <div class="form-group"> <label for="used_before_event"> Did you use the Laser Machine earlier for any work? * </label> <select name="used_before_event" id="used_before_event" class="form-control" required>
          <option value="" disabled selected style="display: none">--Please select an option--</option>
          <option>Yes</option>
          <option>No</option>
        </select> </div>
      <div class="form-group"> <label for="attended_workshop_event"> Have you attended any workshop conducted on the use of machines in TL?* </label> <select name="attended_workshop_event" id="attended_workshop_event" class="form-control"
          required>
          <option value="" disabled selected style="display: none">--Please select an option--</option>
          <option>Yes</option>
          <option>No</option>
        </select> </div>


      <div class="text-center">
        <button type="button" class="btn btn-outline-light next-btn" onclick="next2_event()">Next &rarr;</button>
      </div>
    </div>

    <!-- Other -->
    <div class="part-2-other" id="part-2-other">
      <div class="form-group"> <label> Purpose* </label> <input name="purpose_other" id="purpose_other" type="text" class="form-control" placeholder="Ex: CLI, Project under IIEC" required> </div>

      <div class="form-row ">
        <div class="form-group col-md-6"> <label> Name* </label> <input name="name_other" id="name_other" type="text" class="form-control" placeholder="Name" required> </div>
        <div class="form-group col-md-6 "> <label for="email_other"> Email ID* (You are signed in as <%= email %>) </label>
          <div class="input-group "> <input type="email" name="email_other" id="email_other" class="form-control" placeholder="Email ID" required> </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6"> <label> Designation* </label> <input name="designation_other" id="designation_other" class="form-control" placeholder="Designation"> </div>
        <div class="form-group col-md-6"> <label> Contact Number* </label> <input type="text" name="contact_number_other" id="contact_number_other" class="form-control" placeholder="Contact Number" pattern="[0-9]{10}" required> </div>
      </div>

      <div class="form-group"> <label for="used_before_other"> Did you use the Laser Machine earlier for any work? * </label> <select name="used_before_other" id="used_before_other" class="form-control" required>
          <option value="" disabled selected style="display: none">--Please select an option--</option>
          <option>Yes</option>
          <option>No</option>
        </select> </div>
      <div class="form-group"> <label for="attended_workshop_other"> Have you attended any workshop conducted on the use of machines in TL?* </label> <select name="attended_workshop_other" id="attended_workshop_other" class="form-control" required>
          <option value="" disabled selected style="display: none">--Please select an option--</option>
          <option>Yes</option>
          <option>No</option>
        </select> </div>


      <div class="text-center">
        <button type="button" class="btn btn-outline-light next-btn" onclick="next2_other()">Next &rarr;</button>
      </div>
    </div>

    <!-- Part - 3 -->

    <!-- Project -->
    <div class="part-3-project" id="part-3-project">
      <div class="form-group"> <label for="priority_project"> Priority * </label> <select name="priority_project" id="priority_project" class="form-control" required>
          <option value="" disabled selected style="display: none">--Please select an option--</option>
          <option>Very High</option>
          <option>High</option>
          <option>Normal</option>
          <option>Low</option>
          <option>Very Low</option>
        </select> </div>

      <div class="form-row">
        <div class="form-group col-md-6"><label for="start_time_project">Start Time</label><br>
          <input type="datetime-local" id="start_time_project" name="start_time_project" value="" min="" max="">
        </div>
        <div class="form-group col-md-6"><label for="end_time_project">End Time</label><br>
          <input type="datetime-local" id="end_time_project" name="end_time_project" value="" min="" max="">
        </div>
      </div>

      <div class="form-group"><label for="files_project">Attach Files (dxf or image)</label>
        <input type="file" name="files_project" id="files_project" multiple="multiple" accept=".dxf, application/dxf, image/*" />
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-outline-light next-btn" onclick="submit_project()">Submit</button>
      </div>
    </div>

    <!-- Event -->
    <div class="part-3-event" id="part-3-event">
      <div class="form-group"> <label for="priority_event"> Priority * </label> <select name="priority_event" id="priority_event" class="form-control" required>
          <option value="" disabled selected style="display: none">--Please select an option--</option>
          <option>Very High</option>
          <option>High</option>
          <option>Normal</option>
          <option>Low</option>
          <option>Very Low</option>
        </select> </div>

      <div class="form-row">
        <div class="form-group col-md-6"><label for="start_time_event">Start Time</label><br>
          <input type="datetime-local" id="start_time_event" name="start_time_event" value="" min="" max="">
        </div>
        <div class="form-group col-md-6"><label for="end_time_event">End Time</label><br>
          <input type="datetime-local" id="end_time_event" name="end_time_event" value="" min="" max="">
        </div>
      </div>

      <div class="form-group"><label for="files_event">Attach Files (dxf or image)</label>
        <input type="file" name="files_event" id="files_event" multiple="multiple" accept=".dxf, application/dxf, image/*" />
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-outline-light next-btn" onclick="submit_event()">Submit</button>
      </div>
    </div>


    <!-- Others -->
    <div class="part-3-other" id="part-3-other">


      <div class="form-group"> <label for="priority_other"> Priority * </label> <select name="priority_other" id="priority_other" class="form-control" required>
          <option value="" disabled selected style="display: none">--Please select an option--</option>
          <option>Very High</option>
          <option>High</option>
          <option>Normal</option>
          <option>Low</option>
          <option>Very Low</option>
        </select> </div>

      <div class="form-row">
        <div class="form-group col-md-6"><label for="start_time_other">Start Time</label><br>
          <input type="datetime-local" id="start_time_other" name="start_time_other" value="" min="" max="">
        </div>
        <div class="form-group col-md-6"><label for="end_time_other">End Time</label><br>
          <input type="datetime-local" id="end_time_other" name="end_time_other" value="" min="" max="">
        </div>
      </div>

      <div class="form-group"><label for="files_other">Attach Files (dxf or image)</label>
        <input type="file" name="files_other" id="files_other" multiple="multiple" accept=".dxf, application/dxf, image/*" />
      </div>

      <div class="text-center">
        <button type="button" class="btn btn-outline-light next-btn" onclick="submit_other()">Submit</button>
      </div>
    </div>
  </div>
  <% } %>



  <div class="space"></div>

  <div id="snackbar_"></div>
  <!-- Footer -->
  <div class="footer">
    <div class="row footer-row-1">
      <div class="col-sm-12 col-md-4 text-center">
        <i class="fas fa-map-marker-alt footer-icon"></i>
        <br><br>
        <p>Academic Block 4 / 111, IIT Gandhinagar, Palaj</p>
        <p>Gandhinagar - 382355, Gujarat</p>
        <br>
      </div>
      <div class="col-sm-12 col-md-4 text-center">
        <i class="fas fa-phone-alt footer-icon"></i>
        <br><br>
        <p class="text-center">TL Coordinators</p>
        <div class="row coordinator-row">
          <div class="col-sm-12 col-md-6">
            <p class="coordinator-name">Dhruv Goel</p>
            <p class="coordinator-email">23110098@iitgn.ac.in</p>
            <p class="coordinator-phone">+91 7678420311</p>
            <br>
          </div>
          <div class="col-sm-12 col-md-6">
            <p class="coordinator-name">Siddhesh Umarjee</p>
            <p class="coordinator-email">siddhesh.umarjee@iitgn.ac.in</p>
            <p class="coordinator-phone">+91 7447454514</p>
          </div>
        </div>
        <br>
      </div>
      <div class="col-sm-12 col-md-2 text-center">
        <a href="mailto:tinkererslab@iitgn.ac.in"><i class="fas fa-envelope footer-icon"></i></a>
        <br><br>
        <p>tinkererslab@iitgn.ac.in</p><br>
        <!-- <br>
          <a href="https://www.facebook.com/Tinkerers-Lab-IITGN-110852657318853/"><i class="fab fa-facebook-f footer-icon social-icon"></i></a>
          <a href="https://www.instagram.com/tinkerers_lab_iitgn/"><i class="fab fa-instagram footer-icon social-icon"></i></a> -->
      </div>
      <div class="col-sm-12 col-md-2 text-center">
          <a href="https://www.facebook.com/Tinkerers-Lab-IITGN-110852657318853/"><i class="fab fa-facebook-f footer-icon social-icon"></i></a>
          <a href="https://www.instagram.com/tinkerers_lab_iitgn/"><i class="fab fa-instagram footer-icon social-icon"></i></a>
          <a href="https://in.linkedin.com/company/tinkerers-lab-iit-gandhinagar"><i class="fab fa-linkedin-in footer-icon social-icon"></i></a>
          <a href="https://github.com/TinkerersLabIITGN"><i class="fab fa-github footer-icon social-icon"></i></a>
          <br><br>
          <p>Follow Us</p><br>
      </div>
    </div>
    <!-- <div class="row footer-row-2">
      <div class="col-sm-12 col-md-6 text-center">
        <a href="https://www.facebook.com/Tinkerers-Lab-IITGN-110852657318853/"><i class="fab fa-facebook-f footer-icon social-icon"></i></a>
        <a href="https://www.instagram.com/tinkerers_lab_iitgn/"><i class="fab fa-instagram footer-icon social-icon"></i></a>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <a class="btn btn-outline-light contact-btn" href="/contact" role="button">Get In Touch &rarr;</a>
      </div>
    </div> -->
    <p class="text-center">Copyright ©2025 All rights reserved | Tinkerers’ Lab IIT Gandhinagar</p>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

  <script type="text/javascript">
  if ("<%= loggedIn %>" === "true" && "<%= email %>" != "-") {
    var signedIn_email = "<%= email %>";

    var purpose;

    var name_project;
    var email_project;
    var roll_no_project;
    var contact_no_project;
    var used_before_project;
    var attended_workshop_project;

    var name_course;
    var email_course;
    var designation_course;
    var contact_no_course;
    var course_name_course;
    var course_instructor_course;
    var start_date_course;
    var end_date_course;
    var monday_course;
    var monday_start_time_course;
    var monday_end_time_course;
    var tuesday_course;
    var tuesday_start_time_course;
    var tuesday_end_time_course;
    var wednesday_course;
    var wednesday_start_time_course;
    var wednesday_end_time_course;
    var thursday_course;
    var thursday_start_time_course;
    var thursday_end_time_course;
    var friday_course;
    var friday_start_time_course;
    var friday_end_time_course;
    var saturday_course;
    var saturday_start_time_course;
    var saturday_end_time_course;
    var sunday_course;
    var sunday_start_time_course;
    var sunday_end_time_course;

    var event_name_event;
    var name_event;
    var email_event;
    var designation_event;
    var contact_no_event;
    var used_before_event;
    var attended_workshop_event;

    var purpose_other;
    var name_other;
    var email_other;
    var designation_other;
    var contact_no_other;
    var used_before_other;
    var attended_workshop_other;

    var priority_project;
    var start_time_project;
    var end_time_project;
    var files_project;

    var priority_event;
    var start_time_event;
    var end_time_event;
    var files_event;

    var priority_other;
    var start_time_other;
    var end_time_other;
    var files_other;

    function convertToLocalDate(date) {
      var day = date.getDate(),
        month = date.getMonth() + 1,
        year = date.getFullYear(),
        hour = date.getHours(),
        min = date.getMinutes();

      month = (month < 10 ? "0" : "") + month;
      day = (day < 10 ? "0" : "") + day;
      hour = (hour < 10 ? "0" : "") + hour;
      min = (min < 10 ? "0" : "") + min;

      var today = year + "-" + month + "-" + day,
        displayTime = hour + ":" + min;
      return today + "T" + displayTime;
    }

    function convertToDate(date) {
      var day = date.getDate(),
        month = date.getMonth() + 1,
        year = date.getFullYear();

      month = (month < 10 ? "0" : "") + month;
      day = (day < 10 ? "0" : "") + day;

      var today = year + "-" + month + "-" + day;

      return today;
    }

    function convertToTime(date) {
      var hour = date.getHours(),
        min = date.getMinutes();

      hour = (hour < 10 ? "0" : "") + hour;
      min = (min < 10 ? "0" : "") + min;

      var displayTime = hour + ":" + min;
      return displayTime;
    }

    String.prototype.toDate = function(format) {
      var normalized = this.replace(/[^a-zA-Z0-9]/g, '-');
      var normalizedFormat = format.toLowerCase().replace(/[^a-zA-Z0-9]/g, '-');
      var formatItems = normalizedFormat.split('-');
      var dateItems = normalized.split('-');

      var monthIndex = formatItems.indexOf("mm");
      var dayIndex = formatItems.indexOf("dd");
      var yearIndex = formatItems.indexOf("yyyy");
      var hourIndex = formatItems.indexOf("hh");
      var minutesIndex = formatItems.indexOf("ii");
      var secondsIndex = formatItems.indexOf("ss");

      var today = new Date();

      var year = yearIndex > -1 ? dateItems[yearIndex] : today.getFullYear();
      var month = monthIndex > -1 ? dateItems[monthIndex] - 1 : today.getMonth() - 1;
      var day = dayIndex > -1 ? dateItems[dayIndex] : today.getDate();

      var hour = hourIndex > -1 ? dateItems[hourIndex] : today.getHours();
      var minute = minutesIndex > -1 ? dateItems[minutesIndex] : today.getMinutes();
      var second = secondsIndex > -1 ? dateItems[secondsIndex] : today.getSeconds();

      return new Date(year, month, day, hour, minute, second);
    };

    function timeString(time) {
      return (time.split('T')[0] + " " + time.split('T')[1] + ":00");
    }

    function getTimeStringToSend (time) {
      var list = time.split("T");
      var date = list[0];
      var hour_minute = list[1];
      var day = date.split("-")[2];
      var month = date.split("-")[1];
      var year = date.split("-")[0];
      var hour = hour_minute.split(":")[0];
      var minute = hour_minute.split(":")[1];
      var seconds = "00";

      return day + "/" + month + "/" + year + " " + hour + ":" + minute + ":" + seconds;
    }

    function getDateStringToSend (time) {
      var list = time.split("-");
      var year = list[0];
      var month = list[1];
      var day = list[2];

      return day + "/" + month + "/" + year;
    }

    let currentTime = new Date(Date.now());
    let maxTime = new Date(Date.now());
    let tenMinuteAhead = new Date(Date.now());

    maxTime.setDate(maxTime.getDate() + 7);
    tenMinuteAhead.setMinutes(tenMinuteAhead.getMinutes() + 10);

    document.getElementById("start_time_project").min = convertToLocalDate(currentTime);
    document.getElementById("start_time_project").max = convertToLocalDate(maxTime);
    document.getElementById("start_time_project").value = convertToLocalDate(currentTime);

    document.getElementById("end_time_project").min = convertToLocalDate(tenMinuteAhead);
    document.getElementById("end_time_project").max = convertToLocalDate(maxTime);
    document.getElementById("end_time_project").value = convertToLocalDate(tenMinuteAhead);

    document.getElementById("start_date_course").min = convertToDate(currentTime);
    document.getElementById("start_date_course").value = convertToDate(currentTime);

    document.getElementById("end_date_course").min = convertToDate(tenMinuteAhead);
    document.getElementById("end_date_course").value = convertToDate(tenMinuteAhead);

    document.getElementById("start_time_event").min = convertToLocalDate(currentTime);
    document.getElementById("start_time_event").max = convertToLocalDate(maxTime);
    document.getElementById("start_time_event").value = convertToLocalDate(currentTime);

    document.getElementById("end_time_event").min = convertToLocalDate(tenMinuteAhead);
    document.getElementById("end_time_event").max = convertToLocalDate(maxTime);
    document.getElementById("end_time_event").value = convertToLocalDate(tenMinuteAhead);

    document.getElementById("start_time_other").min = convertToLocalDate(currentTime);
    document.getElementById("start_time_other").max = convertToLocalDate(maxTime);
    document.getElementById("start_time_other").value = convertToLocalDate(currentTime);

    document.getElementById("end_time_other").min = convertToLocalDate(tenMinuteAhead);
    document.getElementById("end_time_other").max = convertToLocalDate(maxTime);
    document.getElementById("end_time_other").value = convertToLocalDate(tenMinuteAhead);


    function next1() {
      var map = {
        "Personal Project/ Team Project": "project",
        "Course Work (Ex: ES 106 - Manufacturing and Work)": "course",
        "Event Work (Ex: Amalthea, Blithchron)": "event",
        "Other (Ex: CLI, IIEC Work)": "other"
      };

      purpose = $("#purpose").val();
      if (purpose === null) {
        error_show("Please fill all the fields!");
      } else if (purpose.trim() === "") {
        error_show("Please fill all the fields!");
      } else {
        document.getElementById("part-1").style.display = "none";
        document.getElementById("part-2-" + map[purpose]).style.display = "block";
      }
    }

    function next2_project() {
      name_project = $("#name_project").val();
      email_project = $("#email_project").val();
      roll_no_project = $("#roll_no_project").val();
      contact_no_project = $("#contact_number_project").val();
      used_before_project = $("#used_before_project").val();
      attended_workshop_project = $("#attended_workshop_project").val();

      if (name_project === null || email_project === null || roll_no_project === null || contact_no_project === null || used_before_project === null || attended_workshop_project === null) {
        error_show("Please fill all the fields!");
      } else if (name_project.trim() === "" || email_project.trim() === "" || roll_no_project.trim() === "" || contact_no_project.trim() === "" || used_before_project.trim() === "" || attended_workshop_project.trim() === "") {
        error_show("Please fill all the fields!");
      } else if (parseInt(contact_no_project) > 9999999999) {
        error_show("Please fill valid contact number!");
      } else {
        document.getElementById("part-2-project").style.display = "none";

        //TODO: Implement self previously used from database
        if (used_before_project.toString().toLowerCase() === "no" && attended_workshop_project.toString().toLowerCase() === "no") {
          document.getElementById("contact-tl").style.display = "block";
        } else {
          document.getElementById("part-3-project").style.display = "block";
        }

      }
    }

    function submit_project() {
      priority_project = $("#priority_project").val();
      start_time_project = $("#start_time_project").val();
      end_time_project = $("#end_time_project").val();
      files_project = $("#files_project").val();

      var start_time_project_dateFormat = timeString(start_time_project).toDate("yyyy-mm-dd hh:ii:ss");
      var s_t = getTimeStringToSend(start_time_project);

      var end_time_project_dateFormat = timeString(end_time_project).toDate("yyyy-mm-dd hh:ii:ss");
      var e_t = getTimeStringToSend(end_time_project);

      var getFile = document.getElementById("files_project");
      var len = getFile.files.length;

      var correctFileType = true;
      for (var i = 0; i < getFile.files.length; i++) {
          var name = getFile.files[i].name;
          var extension = name.split(".");
          if (extension[extension.length - 1] != "dxf" || extension[extension.length - 1] != "png" || extension[extension.length - 1] != "jpeg" || extension[extension.length - 1] != "jpg") {
            correctFileType = false;
            break;
          }
      }

      if (!correctFileType) {
        error_show("Please upload dxf or image files!");
      } else if (priority_project === null || start_time_project === null || end_time_project === null || files_project === null) {
        error_show("Please fill all the fields!");
      } else if (priority_project.trim() === "" || start_time_project.trim() === "" || end_time_project.trim() === "" || getFile.files.length === 0) {
        error_show("Please fill all the fields!");
      } else if (start_time_project_dateFormat >= end_time_project_dateFormat) {
        error_show("Please fill valid time!");
      } else {
        document.getElementById("part-3-project").style.display = "none";
        document.getElementById("loading").style.display = "block";

        let filesList = [];
        let filesName = [];
        let filesType = [];

        function writeFiles(file, i) {
          var fr = new FileReader();
          fr.readAsArrayBuffer(file);

          fr.onload = f => {
            filesList.push([...new Int8Array(f.target.result)]);
            filesName.push(file.name);
            filesType.push(file.type);

            if (filesList.length == len) {
              //const purl = "https://cors-anywhere.herokuapp.com/"; // (Uncomment for CORS error)
              const url = "https://script.google.com/macros/s/AKfycbzkHcIM2_hqPArwoGTLRhIkL5E2KpgtnFHSD1kC_YPTj258AW08BA-ifZE7XN38r99g/exec";
              //const combine = purl + url; // (Uncomment for CORS error)
              const qs = new URLSearchParams({
                SignedIn_Email: signedIn_email,
                Purpose: "Project Work",
                Name: name_project,
                Email: email_project,
                Roll_No: roll_no_project,
                Contact: contact_no_project,
                Used_Before: used_before_project,
                Attended_Workshop: attended_workshop_project,
                Priority: priority_project,
                Start_Time: s_t,
                End_Time: e_t,
                filesName: filesName,
                filesType: filesType
              });
              console.log(i);
              files = JSON.stringify({
                'filesList': filesList,
                'filesName': filesName,
                'filesType': filesType
              });

              fetch(`${url}?${qs}`, { //(Replace url with combine for CORS error)
                  contentType: 'application/json; charset=utf-8',
                  dataType: 'json',
                  method: 'POST',
                  body: files
                })
                .then(res => res.json())
                .then(function (e) {
                  console.log(e);
                  if (e.result == "success") {
                    if (e.row == "clash") {
                      error_show("This time is already booked by someone please choose another time slot!");
                      document.getElementById("loading").style.display = "none";
                      document.getElementById("part-3-project").style.display = "block";
                    } else {
                      error_show("Your request has been sent please check your Mail Box!");
                      document.getElementById("loading").style.display = "none";
                      document.getElementById("part-1").style.display = "block";
                      $("#purpose").val('');
                      $("#name_project").val('');
                      $("#email_project").val('');
                      $("#roll_no_project").val('');
                      $("#contact_number_project").val('');
                      $("#used_before_project").val('');
                      $("#attended_workshop_project").val('');
                      $("#priority_project").val('');
                      $("#start_time_project").val('');
                      $("#end_time_project").val('');
                      $("#files_project").val('');
                    }
                  } else {
                    error_show("Some error occured! Please try again later!");
                    document.getElementById("loading").style.display = "none";
                    document.getElementById("part-3-project").style.display = "block";
                  }
                })
                .catch(err => console.log(err));
            }
          }
        }

        for (var i = 0; i < getFile.files.length; i++) {
          writeFiles(getFile.files[i], i);
        }
      }
    }

    function submit_course() {
      name_course = $("#name_course").val();
      email_course = $("#email_course").val();
      designation_course = $("#designation_course").val();
      contact_no_course = $("#contact_number_course").val();
      course_name_course = $("#course_name_course").val();
      course_instructor_course = $("#course_instructor_course").val();
      start_date_course = $("#start_date_course").val();
      end_date_course = $("#end_date_course").val();
      monday_start_time_course = $("#monday_start_time_course").val();
      monday_end_time_course = $("#monday_end_time_course").val();
      tuesday_start_time_course = $("#tuesday_start_time_course").val();
      tuesday_end_time_course = $("#tuesday_end_time_course").val();
      wednesday_start_time_course = $("#wednesday_start_time_course").val();
      wednesday_end_time_course = $("#wednesday_end_time_course").val();
      thursday_start_time_course = $("#thursday_start_time_course").val();
      thursday_end_time_course = $("#thursday_end_time_course").val();
      friday_start_time_course = $("#friday_start_time_course").val();
      friday_end_time_course = $("#friday_end_time_course").val();
      saturday_start_time_course = $("#saturday_start_time_course").val();
      saturday_end_time_course = $("#saturday_end_time_course").val();
      sunday_start_time_course = $("#sunday_start_time_course").val();
      sunday_end_time_course = $("#sunday_end_time_course").val();

      var start_date_course_dateFormat = timeString(start_date_course + "T00:00").toDate("yyyy-mm-dd hh:ii:ss");
      var s_t = getDateStringToSend(start_date_course);

      var end_date_course_dateFormat = timeString(end_date_course + "T00:00").toDate("yyyy-mm-dd hh:ii:ss");
      var e_t = getDateStringToSend(end_date_course);

      var monday = true;
      var tuesday = true;
      var wednesday = true;
      var thursday = true;
      var friday = true;
      var saturday = true;
      var sunday = true;
      var date_check = (start_date_course_dateFormat < end_date_course_dateFormat);

      if ($("#monday_course").is(":checked")) {
        var monday_satrt_time_course_dateFormat = timeString("2021-01-01T" + monday_start_time_course).toDate("yyyy-mm-dd hh:ii:ss");
        var monday_end_time_course_dateFormat = timeString("2021-01-01T" + monday_end_time_course).toDate("yyyy-mm-dd hh:ii:ss");

        monday = (monday_satrt_time_course_dateFormat < monday_end_time_course_dateFormat);
      }

      if ($("#tuesday_course").is(":checked")) {
        var tuesday_satrt_time_course_dateFormat = timeString("2021-01-01T" + tuesday_start_time_course).toDate("yyyy-mm-dd hh:ii:ss");
        var tuesday_end_time_course_dateFormat = timeString("2021-01-01T" + tuesday_end_time_course).toDate("yyyy-mm-dd hh:ii:ss");

        tuesday = (tuesday_satrt_time_course_dateFormat < tuesday_end_time_course_dateFormat);
      }

      if ($("#wednesday_course").is(":checked")) {
        var wednesday_satrt_time_course_dateFormat = timeString("2021-01-01T" + wednesday_start_time_course).toDate("yyyy-mm-dd hh:ii:ss");
        var wednesday_end_time_course_dateFormat = timeString("2021-01-01T" + wednesday_end_time_course).toDate("yyyy-mm-dd hh:ii:ss");

        wednesday = (wednesday_satrt_time_course_dateFormat < wednesday_end_time_course_dateFormat);
      }

      if ($("#thursday_course").is(":checked")) {
        var thursday_satrt_time_course_dateFormat = timeString("2021-01-01T" + thursday_start_time_course).toDate("yyyy-mm-dd hh:ii:ss");
        var thursday_end_time_course_dateFormat = timeString("2021-01-01T" + thursday_end_time_course).toDate("yyyy-mm-dd hh:ii:ss");

        thursday = (thursday_satrt_time_course_dateFormat < thursday_end_time_course_dateFormat);
      }

      if ($("#friday_course").is(":checked")) {
        var friday_satrt_time_course_dateFormat = timeString("2021-01-01T" + friday_start_time_course).toDate("yyyy-mm-dd hh:ii:ss");
        var friday_end_time_course_dateFormat = timeString("2021-01-01T" + friday_end_time_course).toDate("yyyy-mm-dd hh:ii:ss");

        friday = (friday_satrt_time_course_dateFormat < friday_end_time_course_dateFormat);
      }

      if ($("#saturday_course").is(":checked")) {
        var saturday_satrt_time_course_dateFormat = timeString("2021-01-01T" + saturday_start_time_course).toDate("yyyy-mm-dd hh:ii:ss");
        var saturday_end_time_course_dateFormat = timeString("2021-01-01T" + saturday_end_time_course).toDate("yyyy-mm-dd hh:ii:ss");

        saturday = (saturday_satrt_time_course_dateFormat < saturday_end_time_course_dateFormat);
      }

      if ($("#sunday_course").is(":checked")) {
        var sunday_satrt_time_course_dateFormat = timeString("2021-01-01T" + sunday_start_time_course).toDate("yyyy-mm-dd hh:ii:ss");
        var sunday_end_time_course_dateFormat = timeString("2021-01-01T" + sunday_end_time_course).toDate("yyyy-mm-dd hh:ii:ss");

        sunday = (sunday_satrt_time_course_dateFormat < sunday_end_time_course_dateFormat);
      }


      if (name_course === null || email_course === null || designation_course === null || contact_no_course === null || course_name_course === null || course_instructor_course === null || start_date_course === null || end_date_course === null) {
        error_show("Please fill all the fields!");
      } else if (name_course.trim() === "" || email_course.trim() === "" || designation_course.trim() === "" || contact_no_course.trim() === "" || course_name_course.trim() === "" || course_instructor_course.trim() === "" || start_date_course.trim() === "" || end_date_course.trim() === "") {
        error_show("Please fill all the fields!");
      } else if (parseInt(contact_no_course) > 9999999999) {
        error_show("Please fill valid contact number!");
      } else if (!$("#monday_course").is(":checked") && !$("#tuesday_course").is(":checked") && !$("#wednesday_course").is(":checked") && !$("#thursday_course").is(":checked") && !$("#friday_course").is(":checked") && !$("#saturday_course").is(":checked") && !$("#sunday_course").is(":checked")) {
        error_show("Please select at least one weekday!");
      } else if (($("#monday_course").is(":checked") && (monday_start_time_course === null || monday_end_time_course === null)) || ($("#tuessday_course").is(":checked") && (tuesday_start_time_course === null || tuesday_end_time_course === null)) || ($("#wednesday_course").is(":checked") && (wednesday_start_time_course === null || wednesday_end_time_course === null)) || ($("#thursday_course").is(":checked") && (thursday_start_time_course === null || thursday_end_time_course === null)) || ($("#friday_course").is(":checked") && (friday_start_time_course === null || friday_end_time_course === null)) || ($("#saturday_course").is(":checked") && (saturday_start_time_course === null || saturday_end_time_course === null)) || ($("#sunday_course").is(":checked") && (sunday_start_time_course === null || sunday_end_time_course === null))) {
        error_show("Please select time for all the selected weekdays!");
      } else if (!date_check || !monday || !tuesday || !wednesday || !thursday || !friday || !saturday || !sunday) {
        error_show("Please select valid date and time!");
      } else {
        document.getElementById("part-2-course").style.display = "none";
        document.getElementById("loading").style.display = "block";

        var details = JSON.stringify({
          SignedIn_Email: signedIn_email,
          Name: name_course,
          Email: email_course,
          Designation: designation_course,
          Contact: contact_no_course,
          Course_Name: course_name_course,
          Course_Instructor: course_instructor_course,
          Start_Date: s_t,
          End_Date: e_t,
          Monday: $("#monday_course").is(":checked")?"true":"false",
          Monday_Start_Time: (monday_start_time_course === null)?"-":monday_start_time_course,
          Monday_End_Time: (monday_end_time_course === null)?"-":monday_end_time_course,
          Tuesday: $("#tuesday_course").is(":checked")?"true":"false",
          Tuesday_Start_Time: (tuesday_start_time_course === null)?"-":tuesday_start_time_course,
          Tuesday_End_Time: (tuesday_end_time_course === null)?"-":tuesday_end_time_course,
          Wednesday: $("#wednesday_course").is(":checked")?"true":"false",
          Wednesday_Start_Time: (wednesday_start_time_course === null)?"-":wednesday_start_time_course,
          Wednesday_End_Time: (wednesday_end_time_course === null)?"-":wednesday_end_time_course,
          Thursday: $("#thursday_course").is(":checked")?"true":"false",
          Thursday_Start_Time: (thursday_start_time_course === null)?"-":thursday_start_time_course,
          Thursday_End_Time: (thursday_end_time_course === null)?"-":thursday_end_time_course,
          Friday: $("#friday_course").is(":checked")?"true":"false",
          Friday_Start_Time: (friday_start_time_course === null)?"-":friday_start_time_course,
          Friday_End_Time: (friday_end_time_course === null)?"-":friday_end_time_course,
          Saturday: $("#saturday_course").is(":checked")?"true":"false",
          Saturday_Start_Time: (saturday_start_time_course === null)?"-":saturday_start_time_course,
          Saturday_End_Time: (saturday_end_time_course === null)?"-":saturday_end_time_course,
          Sunday: $("#sunday_course").is(":checked")?"true":"false",
          Sunday_Start_Time: (sunday_start_time_course === null)?"-":sunday_start_time_course,
          Sunday_End_Time: (sunday_end_time_course === null)?"-":sunday_end_time_course
        });

        const url = "https://script.google.com/macros/s/AKfycbzkHcIM2_hqPArwoGTLRhIkL5E2KpgtnFHSD1kC_YPTj258AW08BA-ifZE7XN38r99g/exec";

        const qs = new URLSearchParams({
          Purpose: "Course Work"
        });

        fetch(`${url}?${qs}`, { //(Replace url with combine for CORS error)
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            method: 'POST',
            body: details
          })
          .then(res => res.json())
          .then(function (e) {
            console.log(e);
            if (e.result == "success") {

                error_show("Your request has been sent please check your Mail Box!");
                document.getElementById("loading").style.display = "none";
                document.getElementById("part-1").style.display = "block";
                $("#purpose").val('');
                $("#name_course").val('');
                $("#email_course").val('');
                $("#designation_course").val('');
                $("#contact_number_course").val('');
                $("#course_name_course").val('');
                $("#course_instructor_course").val('');
                $("#start_date_course").val('');
                $("#end_date_course").val('');
                $("#monday_course").val('');
                $("#monday_start_time_course").val('');
                $("#monday_end_time_course").val('');
                $("#tuesday_course").val('');
                $("#tuesday_start_time_course").val('');
                $("#tuesday_end_time_course").val('');
                $("#wednesday_course").val('');
                $("#wednesday_start_time_course").val('');
                $("#wednesday_end_time_course").val('');
                $("#thursday_course").val('');
                $("#thursday_start_time_course").val('');
                $("#thursday_end_time_course").val('');
                $("#friday_course").val('');
                $("#friday_start_time_course").val('');
                $("#friday_end_time_course").val('');
                $("#saturday_course").val('');
                $("#saturday_start_time_course").val('');
                $("#saturday_end_time_course").val('');
                $("#sunday_course").val('');
                $("#sunday_start_time_course").val('');
                $("#sunday_end_time_course").val('');

            } else {
              error_show("Some error occured! Please try again later!");
              document.getElementById("loading").style.display = "none";
              document.getElementById("part-2-course").style.display = "block";
            }
          })
          .catch(err => console.log(err));

      }
    }

    function next2_event() {
      event_name_event = $("#event_name_event").val();
      name_event = $("#name_event").val();
      email_event = $("#email_event").val();
      designation_event = $("#designation_event").val();
      contact_no_event = $("#contact_number_event").val();
      used_before_event = $("#used_before_event").val();
      attended_workshop_event = $("#attended_workshop_event").val();

      if (event_name_event === null || name_event === null || email_event === null || designation_event === null || contact_no_event === null || used_before_event === null || attended_workshop_event === null) {
        error_show("Please fill all the fields!");
      } else if (event_name_event.trim() === "" || name_event.trim() === "" || email_event.trim() === "" || designation_event.trim() === "" || contact_no_event.trim() === "" || used_before_event.trim() === "" || attended_workshop_event.trim() === "") {
        error_show("Please fill all the fields!");
      } else if (parseInt(contact_no_event) > 9999999999) {
        error_show("Please fill valid contact number!");
      } else {
        document.getElementById("part-2-event").style.display = "none";

        //TODO: Implement self previously used from database
        if (used_before_event.toString().toLowerCase() === "no" && attended_workshop_event.toString().toLowerCase() === "no") {
          document.getElementById("contact-tl").style.display = "block";
        } else {
          document.getElementById("part-3-event").style.display = "block";
        }

      }
    }

    function submit_event() {
      priority_event = $("#priority_event").val();
      start_time_event = $("#start_time_event").val();
      end_time_event = $("#end_time_event").val();
      files_event = $("#files_event").val();

      var start_time_event_dateFormat = timeString(start_time_event).toDate("yyyy-mm-dd hh:ii:ss");
      var s_t = getTimeStringToSend(start_time_event);

      var end_time_event_dateFormat = timeString(end_time_event).toDate("yyyy-mm-dd hh:ii:ss");
      var e_t = getTimeStringToSend(end_time_event);

      var getFile = document.getElementById("files_event");
      var len = getFile.files.length;

      var correctFileType = true;
      for (var i = 0; i < getFile.files.length; i++) {
          var name = getFile.files[i].name;
          var extension = name.split(".");
          if (extension[extension.length - 1] != "dxf" || extension[extension.length - 1] != "png" || extension[extension.length - 1] != "jpeg" || extension[extension.length - 1] != "jpg") {
            correctFileType = false;
            break;
          }
      }

      if (!correctFileType) {
        error_show("Please upload dxf or image files!");
      } else if (priority_event === null || start_time_event === null || end_time_event === null || files_event === null) {
        error_show("Please fill all the fields!");
      } else if (priority_event.trim() === "" || start_time_event.trim() === "" || end_time_event.trim() === "" || getFile.files.length === 0) {
        error_show("Please fill all the fields!");
      } else if (start_time_event_dateFormat >= end_time_event_dateFormat) {
        error_show("Please fill valid time!");
      } else {
        document.getElementById("part-3-event").style.display = "none";
        document.getElementById("loading").style.display = "block";

        let filesList = [];
        let filesName = [];
        let filesType = [];

        function writeFiles(file, i) {
          var fr = new FileReader();
          fr.readAsArrayBuffer(file);

          fr.onload = f => {
            filesList.push([...new Int8Array(f.target.result)]);
            filesName.push(file.name);
            filesType.push(file.type);

            if (filesList.length == len) {
              //const purl = "https://cors-anywhere.herokuapp.com/"; // (Uncomment for CORS error)
              const url = "https://script.google.com/macros/s/AKfycbzkHcIM2_hqPArwoGTLRhIkL5E2KpgtnFHSD1kC_YPTj258AW08BA-ifZE7XN38r99g/exec";
              //const combine = purl + url; // (Uncomment for CORS error)
              const qs = new URLSearchParams({
                SignedIn_Email: signedIn_email,
                Purpose: "Event Work",
                Event_Name: event_name_event,
                Name: name_event,
                Email: email_event,
                Designation: designation_event,
                Contact: contact_no_event,
                Used_Before: used_before_event,
                Attended_Workshop: attended_workshop_event,
                Priority: priority_event,
                Start_Time: s_t,
                End_Time: e_t,
                filesName: filesName,
                filesType: filesType
              });
              console.log(i);
              files = JSON.stringify({
                'filesList': filesList,
                'filesName': filesName,
                'filesType': filesType
              });

              fetch(`${url}?${qs}`, { //(Replace url with combine for CORS error)
                  contentType: 'application/json; charset=utf-8',
                  dataType: 'json',
                  method: 'POST',
                  body: files
                })
                .then(res => res.json())
                .then(function (e) {
                  console.log(e);
                  if (e.result == "success") {
                    if (e.row == "clash") {
                      error_show("This time is already booked by someone please choose another time slot!");
                      document.getElementById("loading").style.display = "none";
                      document.getElementById("part-3-event").style.display = "block";
                    } else {
                      error_show("Your request has been sent please check your Mail Box!");
                      document.getElementById("loading").style.display = "none";
                      document.getElementById("part-1").style.display = "block";
                      $("#purpose").val('');
                      $("#event_name_event").val('');
                      $("#name_event").val('');
                      $("#email_event").val('');
                      $("#designation_event").val('');
                      $("#contact_number_event").val('');
                      $("#used_before_event").val('');
                      $("#attended_workshop_event").val('');
                      $("#priority_event").val('');
                      $("#start_time_event").val('');
                      $("#end_time_event").val('');
                      $("#files_event").val('');
                    }
                  } else {
                    error_show("Some error occured! Please try again later!");
                    document.getElementById("loading").style.display = "none";
                    document.getElementById("part-3-event").style.display = "block";
                  }
                })
                .catch(err => console.log(err));
            }
          }
        }

        for (var i = 0; i < getFile.files.length; i++) {
          writeFiles(getFile.files[i], i);
        }
      }
    }

    function next2_other() {
      purpose_other = $("#purpose_other").val();
      name_other = $("#name_other").val();
      email_other = $("#email_other").val();
      designation_other = $("#designation_other").val();
      contact_no_other = $("#contact_number_other").val();
      used_before_other = $("#used_before_other").val();
      attended_workshop_other = $("#attended_workshop_other").val();

      if (purpose_other === null || name_other === null || email_other === null || designation_other === null || contact_no_other === null || used_before_other === null || attended_workshop_other === null) {
        error_show("Please fill all the fields!");
      } else if (purpose_other.trim() === "" || name_other.trim() === "" || email_other.trim() === "" || designation_other.trim() === "" || contact_no_other.trim() === "" || used_before_other.trim() === "" || attended_workshop_other.trim() === "") {
        error_show("Please fill all the fields!");
      } else if (parseInt(contact_no_other) > 9999999999) {
        error_show("Please fill valid contact number!");
      } else {
        document.getElementById("part-2-other").style.display = "none";

        //TODO: Implement self previously used from database
        if (used_before_other.toString().toLowerCase() === "no" && attended_workshop_other.toString().toLowerCase() === "no") {
          document.getElementById("contact-tl").style.display = "block";
        } else {
          document.getElementById("part-3-other").style.display = "block";
        }
      }
    }

    function submit_other() {
      priority_other = $("#priority_other").val();
      start_time_other = $("#start_time_other").val();
      end_time_other = $("#end_time_other").val();
      files_other = $("#files_other").val();

      var start_time_other_dateFormat = timeString(start_time_other).toDate("yyyy-mm-dd hh:ii:ss");
      var s_t = getTimeStringToSend(start_time_other);

      var end_time_other_dateFormat = timeString(end_time_other).toDate("yyyy-mm-dd hh:ii:ss");
      var e_t = getTimeStringToSend(end_time_other);

      var getFile = document.getElementById("files_other");
      var len = getFile.files.length;

      var correctFileType = true;
      for (var i = 0; i < getFile.files.length; i++) {
          var name = getFile.files[i].name;
          var extension = name.split(".");
          if (extension[extension.length - 1] != "dxf" || extension[extension.length - 1] != "png" || extension[extension.length - 1] != "jpeg" || extension[extension.length - 1] != "jpg") {
            correctFileType = false;
            break;
          }
      }

      if (!correctFileType) {
        error_show("Please upload dxf or image files!");
      } else if (priority_other === null || start_time_other === null || end_time_other === null || files_other === null) {
        error_show("Please fill all the fields!");
      } else if (priority_other.trim() === "" || start_time_other.trim() === "" || end_time_other.trim() === "" || getFile.files.length === 0) {
        error_show("Please fill all the fields!");
      } else if (start_time_other_dateFormat >= end_time_other_dateFormat) {
        error_show("Please fill valid time!");
      } else {
        document.getElementById("part-3-other").style.display = "none";
        document.getElementById("loading").style.display = "block";

        let filesList = [];
        let filesName = [];
        let filesType = [];

        function writeFiles(file, i) {
          var fr = new FileReader();
          fr.readAsArrayBuffer(file);

          fr.onload = f => {
            filesList.push([...new Int8Array(f.target.result)]);
            filesName.push(file.name);
            filesType.push(file.type);

            if (filesList.length == len) {
              //const purl = "https://cors-anywhere.herokuapp.com/"; // (Uncomment for CORS error)
              const url = "https://script.google.com/macros/s/AKfycbzkHcIM2_hqPArwoGTLRhIkL5E2KpgtnFHSD1kC_YPTj258AW08BA-ifZE7XN38r99g/exec";
              //const combine = purl + url; // (Uncomment for CORS error)
              const qs = new URLSearchParams({
                SignedIn_Email: signedIn_email,
                Purpose: "Other Work",
                Purpose_Other: purpose_other,
                Name: name_other,
                Email: email_other,
                Designation: designation_other,
                Contact: contact_no_other,
                Used_Before: used_before_other,
                Attended_Workshop: attended_workshop_other,
                Priority: priority_other,
                Start_Time: s_t,
                End_Time: e_t,
                filesName: filesName,
                filesType: filesType
              });
              console.log(i);
              files = JSON.stringify({
                'filesList': filesList,
                'filesName': filesName,
                'filesType': filesType
              });

              fetch(`${url}?${qs}`, { //(Replace url with combine for CORS error)
                  contentType: 'application/json; charset=utf-8',
                  dataType: 'json',
                  method: 'POST',
                  body: files
                })
                .then(res => res.json())
                .then(function (e) {
                  console.log(e);
                  if (e.result == "success") {
                    if (e.row == "clash") {
                      error_show("This time is already booked by someone please choose another time slot!");
                      document.getElementById("loading").style.display = "none";
                      document.getElementById("part-3-other").style.display = "block";
                    } else {
                      error_show("Your request has been sent please check your Mail Box!");
                      document.getElementById("loading").style.display = "none";
                      document.getElementById("part-1").style.display = "block";
                      $("#purpose").val('');
                      $("#purpose_other").val('');
                      $("#name_other").val('');
                      $("#email_other").val('');
                      $("#designation_other").val('');
                      $("#contact_number_other").val('');
                      $("#used_before_other").val('');
                      $("#attended_workshop_other").val('');
                      $("#priority_other").val('');
                      $("#start_time_other").val('');
                      $("#end_time_other").val('');
                      $("#files_other").val('');
                    }
                  } else {
                    error_show("Some error occured! Please try again later!");
                    document.getElementById("loading").style.display = "none";
                    document.getElementById("part-3-other").style.display = "block";
                  }
                })
                .catch(err => console.log(err));
            }
          }
        }

        for (var i = 0; i < getFile.files.length; i++) {
          writeFiles(getFile.files[i], i);
        }
      }
    }


    function error_show(e) {
      var x = document.getElementById("snackbar_");
      x.innerHTML = e;
      x.className = "show";
      setTimeout(function() {
        x.className = x.className.replace("show", "");
      }, 3000);
    }
  }
  </script>

</body>

</html>
